
/* index */
.container__index{
    max-width: 1180px;
    height: auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    color: $color-negro;
    grid-row: auto;
    background: $color-body;
    background-size: cover;
    background-attachment: fixed;
}

.nav__container{
    grid-column: 1/3;
    background: $color-negro;
}

.main__container{
    grid-column: 1/3;
    background: $color-contenedor;
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 50px;
    border-radius:2px;
}

.aside__container{
    grid-column: 1/3;
    grid-row: 3/4;
    background: $color-contenedor;
    text-align: center;
    border-radius: 2px;
    display: flex;
    flex-direction: column;
}

.footer_index_container{
    grid-column: 1/3;
    color: white;
    border-radius: 2px;
}

.bg__img{
    background-color: none;
    grid-column: 1/3;
    display: inline-block;
    text-align: center;
}

@media (min-width: 700px){
    .container__index{
        max-width: 80%;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        margin: 0 auto;
    }
    
    .nav__container{
        grid-column: 1/4;
        background: $color-negro;
        position: sticky;
        top: 0;
    }
    .bg__img{
        grid-column: 1/4;
    }
    
    .main__container{
        grid-column: 1/4;
        display: flex;
    }

    .aside__container{
        grid-column: 1/4;
        display: flex;
        flex-direction: column;
        
    }

    .footer_index_container{
        grid-column: 1/4;
    }
}

/* Sobre nosotros */

.container__nosotros{
    display: grid;
    max-width: 1180px;
    height: auto;
    grid-template-columns: 1fr 1fr;
    grid-row: auto;
    color: $color-negro;
    background: $color-body;
    background-size: cover;
    background-attachment: fixed;

}

.bg__img--nosotros{
    background-color: none;
    grid-column: 1/3;
    display: inline-block;
    text-align: center;
}
.nav__container--nosotros{
    grid-column: 1/3;
    background: $color-negro;
}

.main__nosotros{
    background: $color-contenedor;
    grid-column: 1/3;
}

.article__nosotros{
    grid-column: 1/3;
    display: flex;
    flex-direction: column;
}

.img__cont--nosotros{
    grid-column: 1/3;
    display: flex;
    flex-direction: column;
}

.footer__nosotros{
    grid-column: 1/3;
    color: white
}

@media (min-width: 700px){
    .container__nosotros{
        display: grid;
        max-width: 80%;
        height: auto;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-row: auto;
        margin: 0 auto;
    }

    .bg__img--nosotros{
        grid-column: 1/5;
    }

    .nav__container--nosotros{
        grid-column: 1/5;
        background: $color-negro;
        position: sticky;
        top: 0;
    }

    .main__nosotros{
        grid-column: 1/5;
    }

    .footer__nosotros{
        grid-column: 1/5;
    }
}

/* SUCURSAL */

.body__sucursal{
    max-width: 1180px;
    height: auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    color: $color-negro;
    grid-row: auto;
    background: $color-body;
    background-size: cover;
    background-attachment: fixed;
}

.bg__img--su{
    grid-column: 1/3;
}

.nav__container--su{
    grid-column: 1/3;
    background-color: $color-negro;
}

.main__sucursal{
    grid-column: 1/3;
    background: $color-contenedor;
}

.aside__sucursal{
    grid-column: 1/3;
    background: $color-contenedor;
}

.ubicacion{
    grid-column: 1/3;
    background: $color-contenedor;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.footer__sucursal{
    grid-column: 1/3;
    color: white;
}

@media (min-width: 700px){
        
    .body__sucursal{
        max-width: 80%;
        height: auto;
        margin: 0 auto;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        color: $color-negro;
        grid-row: auto;
        background: $color-body;
    }

    .nav__container--su{
        grid-column: 1/4;
    }

    .nav__container--su{
        grid-column: 1/4;
        background: $color-negro;
        position: sticky;
        top: 0;
    }

    .bg__img--su{
        grid-column:1/4;
    }

    .main__sucursal{
        grid-column:1/4;
    }

    .aside__sucursal{
        grid-column:1/4;
    }

    .ubicacion{
        grid-column:1/4;
    }

    .footer__sucursal{
        grid-column:1/4;
    }

}

/* Sabores */ 

.container__sabores{
    max-width: 1180px;
    height: auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    color: $color-negro;
    grid-row: auto;
    background: $color-body;
    background-size: cover;
    background-attachment: fixed;
}
.nav__container--s{
    grid-column: 1/3;
    background: $color-negro;
}


.bg__img--s{
    text-align: center;  
    width: 100%;
    grid-column: 1/3;
}

.main__sabores{
    grid-column: 1/3;
    padding: 10px;
    background: $color-contenedor;;
}

.footer__sabores{
    grid-column: 1/3;
}

@media (min-width: 700px){
    .container__sabores{
        max-width: 80%;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-row: auto;
        margin: 0 auto;
    }
     .bg__img--s{
         grid-column: 1/4;
     }
    .nav__container--s{
        grid-column: 1/4;
        background: $color-negro;
        position: sticky;
        top: 0;
    }

        .nav__container--s ul,
        .nav__container--s li,
        .nav__container--s a{
            display: flex;
            flex-direction: row;
            justify-content: space-evenly;
           
        }

        .main__sabores{
            grid-column: 1/4;
        }

        .footer__sabores{
            grid-column: 1/4;
        }
}

/* CONTACTO  */

.body__contacto{
    background: $color-body;
    background-size: cover;
    background-attachment: fixed;
    color: white;
    font-size: 22px;
    padding: 0px;
    display: grid;
    margin: 0px;
}

.contenedor__contacto form{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
 
.contenedor__formulario form .block__1{
    grid-column: 1 / 3;
}

.contenedor__formulario {
    grid-column: 1/3;
    grid-row: 1/2;
    background: rgba(117, 216, 255, 0.788);
}

.contenedor__info{
    grid-column: 2/4;
    grid-row: 1/2;
    display: flex;
    flex-direction: column;
   
}




@media (min-width: 700px){
.contenedor__contacto{
   margin-left: 350px;
}
}