.img__banana{
    height: 250px;
    padding: 20px;
    border-radius: 100px;
}

.img__chocolate{
    @extend .img__banana;
}

@media (min-width: 700px){

.img__banana{
    height: auto;
    padding: 20px;
    border-radius: 30px;
}

.img__chocolate{
    @extend .img__banana;
}
}

/* SUCURSAL*/
.bg__img--su{
    text-align: center;  
    width: 100%;
}

.img__sucursal{
    margin-left: 10px;
    margin-right: 10px;
}

.img__pedidos--sucursal{
    margin-left: 10px;
    margin-right: 10px;
}

.img__sucursal{
    margin-top: 15px;
    margin-bottom: 10px;
    margin-left: 50px;
    margin-right: 50px;
    padding: 5px;
}

.img__pedidos--sucursal{
    @extend .img__sucursal;
}

.bg__img--su{
    text-align: center;  
    width: 100%;
}

/* SABORES */
.img__crema--sabores{
    border-radius: 10px;
}

.img__chocolate--sabores{
    @extend .img__crema--sabores;
}

.img__frutilla--sabores{
    @extend .img__crema--sabores;
}

.img__especiales--sabores{
    @extend .img__crema--sabores;
}

.bg__img{
    text-align: center;  
    width: 100%;
}

@media (min-width: 700px){

    .bg__img{
        text-align: center;
        width: 100%;
    }

    .header__logo{
        height: 300px;
        width: auto;
    }
}