<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut" href="../assents/img/logohelado.png">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
    <link rel="stylesheet" href="../css/styles.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap" rel="stylesheet">
    <title>Proyecto Final|Sobre Nosotros</title>
</head>
<body class="container__nosotros">
    <div class="bg__img--nosotros">
        <a href="../index.html"><img class="header__logo" src="../assents/img/VitteLogoFondo.png" alt="Logo"></a>
        </div>
        <nav class= "nav__container--nosotros">
            <div>  
            <ul class="ul__lista">
                <li class="nav__lista"><a class="nav__item" href="../index.html">HOME</a></li>
                <li class="nav__lista"><a class="nav__item" href="sabores.html">SABORES</a></li>
                <li class="nav__lista"><a class="nav__item" href="#">SOBRE NOSOTROS</a></li>
                <li class="nav__lista"><a class="nav__item" href="sucursal.html">SUCURSAL</a></li>
                <li class="nav__lista"><a class="nav__item" href="contacto.html">CONTACTO</a></li>
            </ul>
        </div>
         </nav>
    <main class="main__nosotros">
        <div class="quienes__somos">
            <h2>¿Quiénes somos?</h2>
            <p>
                Vitte llegó de una pequeña familia de emprendedores,con el objetivo de otorgar la mejor calidad junto al sabor en helados artesanales desde 2015.
            </p>
        </div>
        <article class="article__nosotros">
            <img class="img_quienessomos" src="../assents/img/Quiénes somos.png" alt="">
        </article>
        <div class="img__cont--nosotros">
            <img class="img__cont" src="../assents/img/img__nosotros.png" alt="">
        </div> 
    </main>
  
    <footer class="footer__nosotros">
        <p>REDES SOCIALES</p>
     <ul>
         <a href="https://www.facebook.com/"><i class="fa-brands fa-facebook-square"></i><li>Facebook</li></a>
         <a href="https://www.instagram.com/"><i class="fa-brands fa-instagram"></i><li>Instagram</li></a>
         <a href="https://www.whatsapp.com/?lang=es"><i class="fa-brands fa-whatsapp"></i><li>Whattsapp</li></a>
     </ul>
    </footer>
</body>
</html>